*{
    color: whitesmoke;
    background-color: rgb(130, 130, 130);
}

h1 {
    background-color: darkblue; 
}

form {
    background-color: darkolivegreen;
}

h2{
    color: darkslateblue;
}

.letra-grande{
    font-size: 35px;
    color: brown;
}

#titulo{
    font-size: 40px;
    color: cadetblue;
}